[Desktop Entry]
Type=Application
Name=NeoPixel Gui
Comment=RGB LED NeoPixel GUI
Icon=/home/pi/.local/share/pixmaps/pixelstripicon.png
Path=/home/pi/neopixel
Exec=sudo /home/pi/neopixel/pixelstrip.py
Terminal=false
Categories=DJ;

